$white: #fff;

$main-black: #333;
$main-red: #ec5c57;

$transparent: rgba($color: $white, $alpha: 0);

$main-blue: #1976D2;
$dark-blue: #050d17;

$dark-gray-xxx: #444;
$dark-gray-xx: #555;
$dark-gray-x: #666;
$dark-gray: #777;
$gray: #888;
$light-gray: #999;
$light-gray-x: #aaa;
$light-gray-xx: #bbb;
$light-gray-xxx: #ccc;
$light-gray-extreme: #ddd;
$light-gray-extreme-x: #eee;